body, html {
	font-size: 0;
	line-height: 0;
	height: 100%;
}
#home, #vs1, #vs2, #vs3 {
	height: 100%;
}
#home>div {
	position: relative;
	margin-top: -1px;
}
#home .phonebox1, #home .yzmbox1 {
	color: #3558d0;
	font-size: 0.28rem;
	position: absolute;
	height: 30%;
	width: 75%;
	background: rgba(0,0,0,0.5);
	left: 50%;
	transform: translateX(-50%);
}

#home .phonebox1>div, #home .yzmbox1>div {
	width: 100%;
	height: 100%;
	align-items: center;
}
.phonebox1 span {
	min-width: 30%;
	background: #fff;
	text-align: center;
}
.phonebox1 input {
	width: 53%;
	margin-left: 10%;
}

.yzmbox1 span:first-child {
	min-width: 30%;
	background: #fff;
	text-align: center;
}

.yzmbox1 span:last-child {
	color: #fff;
	background: #67aefe;
}
.yzmbox1 input {
	width: 25%;
	margin-left: 10%;
}
#home .phonebox1 {
	top: 0;
}
#home .yzmbox1 {
	top: 50%;
}
#vs1, #vs2, #vs3 {
	display: none;
}

#vs1>div, #vs2>div, #vs3>div {
	position: relative;
}
#vs1>div>div, #vs2>div>div, #vs3>div>div  {
	font-size: 0.3rem;
	line-height: 0.4rem;
	top: 0;
	position: absolute;
	width: 80%;
	left: 10%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
#home img, #vs1 img {
	width: 100%;
}
#vs2>div>img,
#vs3>div>img {
	width: 100%;
}
#vs2>div>div, #vs3>div>div {
	position: absolute;
	width: 80%;
	left: 10%;
	height: 100%;
	color: #fff;
}
